{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Homepage{% endblock %}

{% block body %}
{% for message in app.flashes('verify_email_success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<!-- Section-->
<section class="py-5" id="tricks">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ asset('assets/images/stalefish.jpg') }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-start">
                            <!-- Product name-->
                            <h4 class="fw-bolder">Stalefish</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ asset('assets/images/tailgrab.jpg') }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-start">
                            <!-- Product name-->
                            <h4 class="fw-bolder">Tail Grab</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ asset('assets/images/hakonflip.jpg') }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-start">
                            <!-- Product name-->
                            <h4 class="fw-bolder">Hakon Flip</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ asset('assets/images/backsideair.jpg') }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-start">
                            <!-- Product name-->
                            <h4 class="fw-bolder">Backside Air</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ asset('assets/images/truckdriver.jpg') }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-start">
                            <!-- Product name-->
                            <h4 class="fw-bolder">Truck Driver</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
