{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}SnowTricks - Register
{% endblock %}

{% block main %}
	<div class="container main">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
		<div class="d-flex flex-column justify-content-center">
			<h1 class="my-5 text-center text-md-start">Register</h1>
			{{ form_start(registrationForm, {'method': 'POST'})}}
			<div class="mb-3 text-center text-md-start">
				<label for="InputEmail" class="form-label">Email address</label>
				{{ form_widget(registrationForm.email, {'attr': {'class': 'custom__field'}}) }}
                {{ form_errors(registrationForm.email) }}
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3 text-center text-md-start">
				<label for="InputUsername" class="form-label">Username</label>
				{{ form_widget(registrationForm.username, {'attr': {'class': 'custom__field'}}) }}
                {{ form_errors(registrationForm.username) }}
			</div>
			<div class="mb-3 text-center text-md-start">
				<label for="avatar" class="form-label">Upload avatar</label>
				{{form_widget(registrationForm.avatar)}}
				{{form_errors(registrationForm.avatar)}}
			</div>
			<div class="mb-3 text-center text-md-start">
				<label for="InputPassword1" class="form-label">Password</label>
				{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'custom__field'}}) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
			</div>
			<div class="mb-3 text-center text-md-start">
				<label for="InputPassword2" class="form-label">Repeat password</label>
				{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'custom__field'}}) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
			</div>
			<div class="mb-3">
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
