{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}Manage comments
{% endblock %}

{% block main %}
	<div class="container main">
		<h1>Comments</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Content</th>
						<th>Author</th>
						<th>CreatedAt</th>
						<th>Moderate</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for comment in comments %}
						<tr>
							<td >{{ comment.id }}</td>
							<td class="admin__comment_table_td">{{ comment.content }}</td>
							<td >{{ comment.user.username }}</td>
							<td >{{ comment.createdAt|date('Y-m-d H:i:s') }}</td>
							<td >
								{% if comment.isStatus is same as(false) %}
									<a href="{{ path('admin_comment_switch_status', {'id': comment.id}) }}" class="btn btn-success btn-sm">Publish</a>
								{% else %}
									<a href="{{ path('admin_comment_switch_status', {'id': comment.id}) }}" class="btn btn-danger btn-sm">Moderate</a>
								{% endif %}
							</td>
							<td>
								<a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if comments %}
				<nav aria-label="Page navigation example">
					<ul class="pagination">
					{% for item in 1..((total / limit)|round(0, 'ceil')) %}
						<li class="page-item {{ (page == item) ? 'active' : '' }}"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			{% endif %}
		</div>
	</div>
{% endblock %}
