
{% for trick in tricks %}
	<div class="col mb-5">
		<div
			class="card h-100">
			<!-- Trick image-->
			<a href="{{ path('app_trick_show', {'id': trick.id}) }}">
				{% for media in trick.medias|filter(media=> media.type is same as("Image"))|slice(0, 1) %}
					<img class="card-img-top" src="{{asset('/uploads/' ~ media.fileName)}}" alt="{{ media.alt }}"/>
					{% else %}
					<img class="card-img-top" src="/assets/images/empty.jpg" alt="no image to show">
				{% endfor %}
			</a>
			<!-- Trick details-->
			<div class="card-body p-3 d-flex flex-row align-items-center justify-content-between">
				<div
					class="text-start m-0">
					<!-- Trick name-->
					<h4 class="snow__text">{{ trick.name }}</h4>
				</div>
				<div class="trick__actions">
					{% if app.user %}
						<a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="trick__actions-button">
							<i class="bi bi-pencil-fill"></i>
						</a>
					{% endif %}
					{% if is_granted("trick_delete", trick) %}
						<a href="#delete__modal" role="button" class="ms-2 modal-trigger trick__actions-button" data-bs-toggle="modal" data-target="delete__modal" data-id="{{trick.id}}" data-name="{{trick.name}}">
							<i class="bi bi-trash-fill"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{# DELETE MODAL #}
	<div class="modal" id="delete__modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete confirmation</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-danger">Delete</a>
				<button type="button" data-target="modal-delete" class="btn btn-secondary modal-trigger" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
{% endfor %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	window.onload = () => {
		let myModal = new bootstrap.Modal(document.getElementById('delete__modal'))
		console.log(myModal)
		let supprimer = document.querySelectorAll(".modal-trigger")
		for(let bouton of supprimer){
			bouton.addEventListener("click", function () {
				document.querySelector(".modal-footer a").href = `/trick/delete/${this.dataset.id}`
				document.querySelector(".modal-body").innerText = `Are you sure you want to delete "${this.dataset.name} ?"`
			})
		}
	}
</script>
{% endblock %}