{{ form_start(trick, {'method': 'POST'}) }}

    {{ form_widget(trick._token) }}
    <div class="mb-3">
        <label for="name" class="form-label">Trick's name</label>
        {{ form_widget(trick.name) }}
        {{ form_errors(trick.name) }}
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {{ form_widget(trick.description) }}
    </div>
    <div id="medias" class="mb-3" data-prototype="{{ include("trick/_media.html.twig", {form: trick.medias.vars.prototype})|e("html_attr") }}" data-index="{{ trick.medias|length > 0 ? trick.medias|last.vars.name + 1 : 0 }}">
        {% for media in trick.medias %}
            {{ include("trick/_media.html.twig", {form: media}) }}
        {% endfor %}
    </div>
    <button type="button" class="btn btn-primary btn-new mb-3" data-collection="#medias">New media</button>
    {# {{ form_errors(trick.medias) }} #}
    <div class="mb-3">
        <label for="groups" class="form-label">Groups</label>
        {{ form_widget(trick.groups) }}
    </div>
    {# {{ form_widget(trick.save) }} #}
    <button class="btn btn-primary mb-3">{{ button_label|default('Save') }}</button>
{{ form_end(trick, { render_rest: false }) }}

{% block javascript %}
    <script src="{{ asset('assets/js/media.js') }}" type="text/javascript"></script>
{% endblock %}
