{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">{% endblock %}

{% block title %}Trick index{% endblock %}

{% block main %}
<div class="container main">
    <h1>Trick index</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description|u.truncate(20, '...') }}</td>
                {# <td>{{ trick.video }}</td> #}
                {# <td>{{ trick.pictureAlt }}</td> #}
                <td>{{ trick.slug }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}"><i class="bi bi-eye-fill"></i></a>
                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_trick_new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
