{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}Trick
{% endblock %}

{% block body %}


	<div class="modal fade modal-lg" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<img src="" class="imagepreview" style="width: 100%;">
				</div>
			</div>
		</div>
	</div>

	<div class="container main my-5">
		<div class="text-end">
			<a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="btn btn-m btn-primary">
				<i class="bi bi-pencil-fill"></i>
			</a>
		</div>
		{% if is_granted("trick_delete", trick) %}
		<div class="text-end">
			{{ include('trick/_delete_form.html.twig') }}
		</div>
		{% endif %}
		<div class="trick__cover-image my-5">
		{% for media in trick.medias|filter(media=> media.type is same as("Image"))|slice(0, 1) %}
			<img class="cover__image" src="{{asset('/uploads/' ~ media.fileName)}}" alt="{{ media.alt }}">
		{% else %}
			<img class="cover__image" src="/assets/images/empty.jpg" alt="no image to show">
		{% endfor %}
			<h1 class="trick__cover-image-name snow__title">{{trick.name}}</h1>
			<a href="{{ path('app_trick_edit_cover_image', {'id': trick.id}) }}" class="btn btn-m btn-primary trick__cover-image-edit">
				<i class="bi bi-pencil-fill"></i>
			</a>
		</div>

		<div class="d-flex flex-column justify-content-center">

			<div id="carousel" class="d-flex justify-content-center">
				{% for media in trick.medias %}
					{% if media.type is same as("Image") %}
						<div class="item">
							<button type="button" class="popImage">
								<img data-id="{{ media.id }}" class="trick__img" src="{{asset('/uploads/' ~ media.fileName)}}" alt="{{ media.alt }}" title="{{ media.alt }}">
							</button>
						</div>
					{% else %}
						<div class="item-video">
							<iframe class="trick__video" src="{{ media.url }}" frameborder="0"></iframe>
							<button type="button" class="popVideo">
								<iframe class="trick__video d-none" src="{{ media.url }}" frameborder="0"></iframe>
							</button>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="snow__description my-5 text-center">
				<h3 class="snow__title">Description</h3>
				<figure class="text-center text-justify mt-3 mx-5">
					<blockquote class="blockquote">
						<p>{{trick.description}}</p>
					</blockquote>
					<figcaption class="blockquote-footer">
						by {{ trick.user.username }}, <cite title="Source Title">the {{ trick.createdAt|date('F jS \\a\\t g:ia') }}</cite>
					</figcaption>
				</figure>
				<p class=" "></p>
			</div>
			<div class="snow__contributors-title my-5 text-center">
				<h3 class="snow__title">Contributors</h3>
				<div class="snow__contributors-content">
				{% for contributor in trick.contributors %}
					<p class="snow__text me-1 align-middle">{{contributor.username}}</p>
				{% endfor %}
				</div>
			</div>


			<div class="trick__separator my-3">
				<hr class="rounded">
			</div>

			<div class="trick__groups text-center">
				<span class="badge rounded-pill text-bg-warning">Created at:
					{{trick.createdAt|date('d-m-Y')}}</span>
				<span class="badge rounded-pill text-bg-primary">Group:
					{{trick.trickGroup.name}}</span>
				<span class="badge rounded-pill text-bg-info">Last update:
					{{trick.createdAt|date('d-m-Y')}}</span>
			</div>
			{% include('trick/_comment.html.twig') %}
			{% if app.user %}
				<div class="send__comment-section">
					<h3 class="snow__title">Send comment</h3>
					{{ form(commentForm) }}
					</div>
			{% endif %}
			</div>

			<a href="{{ path('app_home') }}" class="btn btn-m btn-secondary">Back to list</a>

		</div>


	{% endblock %}


	{% block javascripts %}
		<script src="{{ asset('assets/js/slider.js') }}" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
		$(function () {
			$('.popImage').on('click', function () {
				$('.imagepreview').attr('src', $(this).find('img').attr('src'));
				$('#imagemodal').modal('show');
			});
		});
		$(function () {
			$('.popVideo').on('click', function () {
				$('.embed-responsive-item').attr('src', $(this).find('iframe').attr('src'));
				$('#videomodal').modal('show');
				$("#videomodal").on('hide.bs.modal', function () {
					$(".embed-responsive-item").attr('src', '');
				});
			});
		});
		</script>
	{% endblock %}
